<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demoapp.activitydemo">

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityDemo">
        <meta-data
            android:name="EasyGoClient"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation|locale|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.demoapp.activitydemo.ACTION1" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:label="SecondActivity">

        </activity>

        <!--        <activity-alias-->
        <!--            android:name="ThirdActivity"-->
        <!--            android:label="Alias快捷入口"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true"-->
        <!--            android:targetActivity="SecondActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity-alias>-->

        <activity
            android:name=".FourthActivity"
            android:exported="true"
            android:immersive="true"
            android:label="FourthActivity"
            android:taskAffinity=".FourthActivity">

        </activity>

    </application>

</manifest>